.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  grid-gap: 2rem;
}

.cards > ul > li {
  background-color: var(--background-color);
}

.cards .cards-card-image {
  line-height: 0;
}

.cards .cards-card-body {
  color: #000;
  background-color: #fff;
  text-align: center;
}

.cards .cards-card-body > *:first-child {
  margin-top: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.cards a:hover {
  text-decoration: none;
}

.cards:not(.internet-speed, .services) a {
  display: flex;
}

.cards:not(.internet-speed, .services) a:hover {
  box-shadow: 0 .3rem .6rem rgba(0, 0, 0, .16);
}


.cards:not(.internet-speed, .services) li > a {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.cards:not(.internet-speed, .services) a .cards-card-body {
  flex: 1;
  padding: 2rem;
}

.cards:not(.internet-speed, .services) a .cards-card-body p {
  margin: 0;
}

.cards:not(.internet-speed, .services) a .cards-card-body p:first-of-type {
  font-size: 18px;
  font-weight: 900;
  color: #00629b;
  letter-spacing: 0.1rem;
}

.cards:not(.internet-speed, .services) a .cards-card-body p:nth-child(3) {
  font-size: 18px;
  font-weight: 400;
}

.cards:not(.internet-speed, .services) a .cards-card-body p:nth-child(3) {
  font-size: 18px;
  font-weight: 400;
}

.cards:not(.internet-speed, .services) a .cards-card-body h4 {
  margin-top: 0.25rem;
}

.cards:not(.internet-speed, .services) a .cards-card-body p.button-container {
  margin-top: 1.5rem;
}

.cards:not(.internet-speed, .services) a .cards-card-body p.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards:not(.internet-speed, .services) a .cards-card-body p.button-container a {
  padding: 0;
  background-color: transparent;
  color: #000;
  font-size: 18px;
}

.cards:not(.internet-speed, .services) a .cards-card-body p.button-container a:hover {
  box-shadow: unset;
  background: transparent;
  text-decoration: underline;
}

/* internet-speed */
.cards.internet-speed > ul > li {
  text-align: center;
  border: 1px solid #ccc;
}

.cards.internet-speed > ul > li > div .cards-card-body:first-of-type {
  background: #003057;
  padding: 1rem 2rem 3rem 2rem;
}

.cards.internet-speed > ul > li > div .cards-card-body:first-of-type p:first-of-type {
  color: rgb(29, 186, 251);
  font-size: 24px;
  letter-spacing: 2.4px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding-bottom: 10px;
}

.cards.internet-speed > ul > li > div .cards-card-body:first-of-type p:last-of-type {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65%;
  margin: 0 auto;
  line-height: normal;
}

.cards.internet-speed > ul > li > div .cards-card-body:first-of-type p:last-of-type strong {
  font-size: 94px;
  line-height: 1;
}

.cards.internet-speed > ul > li > div .cards-card-body:last-of-type {
  position: relative;
  padding: 0 1rem;
}

.cards.internet-speed > ul > li > div .cards-card-body:last-of-type p:first-of-type {
  position: absolute;
  top: -42px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.cards.internet-speed > ul > li > div .cards-card-body:last-of-type span.icon {
  width: 50px;
  height: 50px;
}

.cards.internet-speed > ul > li > div .cards-card-body:last-of-type ul {
  padding-left: 1rem;
}

.cards.internet-speed > ul > li > div .cards-card-body:last-of-type ul li {
  font-size: 18px;
  position: relative;
  list-style: none;
  text-align: left;
  padding-left: 35px;
}

.cards.internet-speed > ul > li > div .cards-card-body:last-of-type ul li::before {
  content: url('/icons/check.svg');
  position: absolute;
  left: 0;
  top: 0;
}

.cards.internet-speed > ul > li img {
  object-fit: contain;
}

/* services */
.cards.services span.icon {
  width: 125px;
  height: 100px;
}

.cards.services > ul {
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  text-align: center;
}

.cards.services > ul a {
  width: fit-content;
  height: auto;
  margin: 0 auto;
}

.cards.services > ul li a .cards-card-body a {
  padding: 1rem;
  background-color: transparent;
  color: #000;
  text-transform: capitalize;
  font-size: 18px;
}

.cards.services > ul li a .cards-card-body a:hover {
  box-shadow: unset;
  background: transparent;
  text-decoration: underline;
}

@media (width >= 768px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div:not(.columns-img-col) {
    width: 50%;
    order: unset;
    box-sizing: border-box;
  }

  .columns > div > .columns-img-col {
    width: 50%;
    margin-top: 0;
  }

  .cards.services > ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    text-align: center;
    justify-content: center;
    max-width: fit-content;
    margin: 0 auto;
  }
}