.columns > div {
  display: flex;
  flex-direction: column-reverse;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
  margin-top: 2rem;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div:not(.columns-img-col) {
    width: 50%;
    order: unset;
    box-sizing: border-box;
  }

  .columns > div > .columns-img-col {
    width: 50%;
    margin-top: 0;
  }
}

/* default */
.columns.default {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem 16px;
}

.columns.default > div > div:not(.columns-img-col) p {
  margin: 0;
}

.columns.default > div > div:not(.columns-img-col) p:first-of-type {
  color: #00629b;
  font-size: 24px;
  letter-spacing: 2.4px;
}

.columns.default > div > div:not(.columns-img-col) h3 {
  color: #333;
  font-size: 44px;
  margin: 0;
}

.columns.default > div > div:not(.columns-img-col) p.button-container {
  margin-top: 2rem;
}

/* banner */
.section.banner {
  padding: 0 32px;
  background-color: #F5F5F5;
  background-image: url('/images/columns-background.png');
  background-size: cover;
  background-position: center;
  background-repeat: inherit;
}

.section.banner .columns-wrapper {
  max-width: unset;
}

.columns.banner {
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
}

.columns.banner br {
  display: none;
}

.columns.banner > div {
  flex: 1;
}

.columns.banner > div > div p {
  margin: 0;
}

.columns.banner > div > div > p:first-of-type {
  color: #00629b;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: .1em;
}

.columns.banner > div > div > p:nth-child(3) {
  font-size: 18px;
  color: #333;
}

.columns.banner > div > div > p:nth-child(4) {
  font-size: 18px;
  line-height: 1;
  font-weight: 800;
  margin-top: 2rem;

}

.columns.banner > div > div > p:nth-child(5) {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.columns.banner > div > div > p:nth-child(5) strong {
  font-size: 92px;
  line-height: 1;
}

.columns.banner > div > div > p:nth-child(6) {
  font-size: 22px;
  font-weight: 500;
}

.columns.banner > div > div > p:nth-child(6) a {
  background: #0099d8;
  color: #fff;
  padding: .5rem 1rem;
  border-radius: .5rem;
  text-transform: uppercase;
  font-weight: 800;
  margin-right: 0.5rem;
}

.columns.banner > div > div > p:nth-child(6) a:hover {
  box-shadow: 0 .3rem .6rem rgba(0, 0, 0, .16);
  background: #0082bf;
  text-decoration: none;
}

.columns.banner > div > div > h3 {
  font-size: 52px;
  color: #333;
  margin: 0;
  max-width: 355px;
}

.columns.banner > div > div:not(.columns-img-col) {
  padding-left: 12.5%;
}

@media (width <= 900px) {
  .section.banner {
    padding: 0 16px;
  }

  .columns.banner > div > div > h3 {
    max-width: 100%;
  }

  .columns.banner > div > div:not(.columns-img-col) {
    padding-left: 0;
  }
}

/* teaser */
.columns.teaser > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.columns.teaser {
  background-image: url('/images/teaser-one-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: inherit;
  padding: 0 16px;
}

.columns.teaser .columns-img-col {
  display: flex;
  justify-content: flex-end;
  width: 40%;
  margin-top: 0;
}

.columns.teaser .columns-img-col img {
  max-height: 150px;
  width: auto;
}

.columns.teaser > div > div h3 {
  font-size: 28px;
}

.columns.teaser > div > div p {
  margin: 0;
  line-height: normal;
  font-size: 18px;
  max-width: 600px;
}

.columns.teaser > div > div:not(.columns-img-col) {
  width: 60%;
  color: #000;
  padding: 1.5rem 0;
}

.columns.teaser > div > div:not(.columns-img-col) a {
  color: #000;
  text-decoration: underline;
}

.columns.teaser > div > div:not(.columns-img-col) h3 {
  margin-top: 0;
}

.columns.teaser.disney {
  background-image: url('/images/disney-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: inherit;
}

.columns.teaser.disney > div > div:not(.columns-img-col) {
  color: #fff;
}

.columns.teaser.disney > div > div:not(.columns-img-col) a {
  color: #fff;
  text-decoration: underline;
  font-weight: 900;;
}